name: Deploy Portfolio App

on:
  push:
    branches:
      - main  # Ana branch değiştikçe tetiklenir

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Install Rust (for safety)
        run: rustup update stable

      - name: Install WASM target
        run: rustup target add wasm32-unknown-unknown

      - name: Install Trunk
        run: cargo install trunk

      - name: Build the App
        run: trunk build --release --public-url /Portfolio/

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: dist
